*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:  hsl(0, 0%, 98%) ;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 4em 1em;
}

.container {
    max-width: 1440px;
    margin: 0 auto;   
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 2rem;
    font-weight: 300;
}

.hero p {
    text-align:center ;
    color:  hsl(229, 6%, 66%);
    margin-top: 1em;
}

.cards {
    margin: 50px 0;
    display: grid;
    grid-template:  repeat(4, 1fr) / repeat(3, 1fr) ;
    grid-template-areas: ". team-builder ."
                         "supervisor team-builder calculator "
                         "supervisor karma calculator"
                         ". karma .";
    gap: 25px;
}

.card {
    height: 270px;
    box-shadow: 0px 17px 20px -20px hsl(229, 6%, 66%);
    border-radius: 7px;
    background-color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.card h1 {
    font-size: 20px;
    margin-bottom: .4em;
}

.card p {
    color:  hsl(229, 6%, 66%);
}

.card figure {
    width: fit-content;
    margin-left: auto;
    margin-top: auto;
}
#supervisor {
    grid-area: supervisor;
    border-top: 5px solid hsl(180, 62%, 55%);
}

#team-builder {
    grid-area:team-builder ;
    border-top: 5px solid hsl(0, 78%, 62%);
}
#karma{
    grid-area:karma ;
    border-top: 5px solid hsl(34, 97%, 64%);
}
#calculator {
    grid-area:calculator;
    border-top: 5px solid hsl(212, 86%, 64%);

}

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:768px) {
    .hero h1 {
        text-align: center;
        font-size: 25px;
    }

    .cards {
        margin-top: 70px;
        grid-template-columns: 100%;
        grid-template-areas: "supervisor"
                             "team-builder"
                             "karma"
                             "calculator";
    }
    

}
